*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.navpage{
    color: white;
    padding: 10px;
    background-color: #333;
    }


.nav-link{
    color:rgb(250, 244, 244) !important;
}

.nav-link:hover{
    background-color:white;
    color: #333 !important;
    padding: 10px;
}

.Posthead{
    color: black !important;
    font-size: large;
}

.newpostul{
    text-align: center;
    list-style-type: decimal;
}